
*.dot

*.pdf

build/Debug/GraphSerialization

build/GraphSerialization.build/Debug/GraphSerialization.build/dgph

*.hmap

*.d

*.dia

*.o

*.dat

*.LinkFileList

*.pbxproj

*.xcworkspacedata

*.xccheckout

*.xcuserstate

*.xcscheme

*.xcbkptlist

*.plist

build/Debug/GDFexample.gdf

build/Debug/l.gdf
